@model HISSAP1.Models.SiteModels.InvoiceBudgetModels.FringeItem

@{
  ViewBag.Title = "Create";
}

<h2 class="buddy-header">Add Item</h2>
@using (Html.BeginForm("AddFringeItem", "Budgets", new { returnUrl = Request.Url.AbsoluteUri, id = Url.RequestContext.RouteData.Values["id"] }))
{
  @Html.AntiForgeryToken()
  <div class="form-horizontal">
    <hr />
    <table class="budget-table">
      @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      <tr>
        <th>Budget Item</th>
        <th class="amount">Amount</th>
        <th>Justification</th>
        <th></th>
      </tr>
      <tr>
        <td class="col-md-10">
          @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </td>

        <td class="amount">
          @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
        </td>

        <td>
          @Html.EditorFor(model => model.Justification, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Justification, "", new { @class = "text-danger" })
        </td>
        <td><input type="submit" value="Add" class="btn btn-default" /></td>
      </tr>

      @Html.HiddenFor(model => model.FringeBenefitId)

    </table>
  </div>
}



