@{
  ViewData["Title"] = "Assess & Plan";
}

<div class="row">
  <div class="col-md-3">
    <h2>Assess & Plan</h2>
    <ul class="site-tree">
      <li>
        <h4 class="branch">@Html.ActionLink("Identify Problems", "Index", "Providers")</h4>
        <p class="branch-description">Change various provider details including address and contact information.</p>
      </li>
      <li>
        <h4 class="branch">@Html.ActionLink("Identify Outcomes", "Index", "Contracts")</h4>
        <p class="branch-description">Manage contract details including names, dates, ASO Log No, and Status.</p>
      </li>
      <li>
        <h4 class="branch">@Html.ActionLink("Create Plan", "Index", "Sites")</h4>
        <p class="branch-description">Create additional sites for a contract.</p>
      </li>
      <li>
        <h4 class="branch">@Html.ActionLink("Create Service", "Index", "UsersAdmin")</h4>
        <p class="branch-description">Manage users within the organization.</p>
      </li>
      @if (ViewBag.Tier3)
      {
        <li>
          <h4 class="branch">@Html.ActionLink("Propose Budget", "Index", "Budgets")</h4>
          <p class="branch-description">Create new provider announcements.</p>
        </li>
      }
    </ul>
  </div>
</div>
