@{
  ViewData["Title"] = "Assess & Plan";
}

<div class="row">
  <div class="col-md-3">
    <h2>Assess & Plan</h2>
    <ul class="site-tree">
      <li>
        <h4 class="branch">@Html.ActionLink("Identify Problems", "Index", "ProblemStatements")</h4>
        <p class="branch-description">This module is used to identify problems.</p>
      </li>
      <li>
        <h4 class="branch">@Html.ActionLink("Identify Outcomes", "Index", "Outcomes")</h4>
        <p class="branch-description">This module is used to identify outcomes.</p>
      </li>
      <li>
        <h4 class="branch">@Html.ActionLink("Create Plan", "Index", "Sites")</h4>
        <p class="branch-description">This module is used to plan programs.<p>
      </li>
      <li>
        <h4 class="branch">@Html.ActionLink("Create Service", "Index", "UsersAdmin")</h4>
        <p class="branch-description">This module is used to plan services.</p>
      </li>
      @if (ViewBag.Tier3)
      {
        <li>
          <h4 class="branch">@Html.ActionLink("Propose Budget", "Index", "Budgets")</h4>
          <p class="branch-description">Create new provider announcements.</p>
        </li>
      }
    </ul>
  </div>
</div>
