@model HISSAP1.Models.SiteModels.Outcome

@{
  ViewBag.Title = "Edit";
}

<h2 class="buddy-header">Edit Outcome</h2>
<div class="buddy-link">
  @Html.ActionLink("Back to List", "Index")
</div>

@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()

  <div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
      @Html.LabelFor(model => model.DesiredOutcome, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.DesiredOutcome, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DesiredOutcome, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.OutcomeDescription, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.OutcomeDescription, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.OutcomeDescription, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.BaselinePercentage, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.BaselinePercentage, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.BaselinePercentage, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.DesiredPercentage, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.DesiredPercentage, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DesiredPercentage, "", new { @class = "text-danger" })
      </div>
    </div>

    <!--Associate a provider with the account-->
    <div class="form-group">
      @Html.Label("Associate a Provider", new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @*@Html.DropDownListFor(m => m.SelectedProvider, Model.ProviderList, "Please select")*@
        @Html.DropDownListFor(m => m.OutcomeTypes, ViewBag.OutcomeTypes as SelectList, new { @class = "input-sm" })
      </div>
    </div>
    <!--Ends Here-->

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Save" class="btn btn-default" />
      </div>
    </div>
  </div>
}

<div>
  @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
