@model HISSAP1.Models.SiteModels.InvoiceBudgetModels.ContractualAdministrativeService

@{
  ViewBag.Title = "Contractual Administrative Service";
}

<h2 class="buddy-header">Contractual Administrative Services</h2>
<div class="buddy-link">
  @Html.ActionLink("Back to Details", "Details", new { id = Model.Id })
</div>

@*@using (Html.BeginForm("EditContractualAdministrativeService", "Budgets", new { returnUrl = Request.Url.AbsoluteUri }))
{
  @Html.ValidationSummary(true, "", new { @class = "text-danger" })
  @Html.HiddenFor(model => model.Id)
  @Html.AntiForgeryToken()*@
  <div class="form-horizontal form-table-container">
    <hr />
    <table class="budget-table contractual-administrative-service">
      <tr>
        <th class="name">Name</th>
        <th class="amount">Amount</th>
        <th>Services Provided</th>
        <th>Sub-Contract</th>
        <th>Comments</th>
        @*<th></th>*@
      </tr>
      @foreach (var item in Model.AdministrativeItems)
      {
        <tr>
          <td class="name">
            <label class="control-label">@item.BusinessIndividualName</label>
          </td>
          <td class="amount">
            <input type="hidden" class="value-add" value="@item.Amount" />
            <span>@item.Amount</span>
          </td>
          <td>
            @item.ServicesProvided
          </td>
          <td>
            @item.SubContractNumber
          </td>
          <td>
            @item.Comments
          </td>
          @*<td>
              <a href="javascript:void(0);" data-id="@item.Id" class="deleteItem deletePayrollItem">X</a>
            </td>*@
        </tr>
      }
      <tr>
        <td class="name">
          @Html.LabelFor(model => model.SumTotal, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td class="amount">
          @Html.HiddenFor(model => model.SumTotal)
          <input type="text" id="dummy-SumTotal" disabled="disabled" class="form-control" value="@Model.SumTotal" />
          @Html.ValidationMessageFor(model => model.SumTotal, "", new { @class = "text-danger" })
        </td>
        <td></td>
        <td></td>
        <td></td>
        @*<td></td>*@
      </tr>

    </table>

    @*<div class="form-options">
        <input type="submit" value="Save" class="btn btn-success" />
      </div>*@
  </div>
  @*}*@
  @*<div id="dvCategoryResults">
      @Html.Action("PayrollItemsPartial", "Partials")
    </div>*@
  <div>
    @Html.ActionLink("Back to Details", "Details", new { id = Model.Id })
  </div>
