@model HISSAP1.Models.SiteModels.InvoiceBudgetModels.AirfareOutOfState
@{
  ViewBag.Title = "Airfare Out of State";
}

<h2 class="buddy-header">Airfare Out of State</h2>
<div class="buddy-link">
  @Html.ActionLink("Back to List", "Modify", new { id = Model.Id })
</div>

@using (Html.BeginForm("EditAirfareInterIsland", "Budgets", new { returnUrl = Request.Url.AbsoluteUri }))
{
  @Html.ValidationSummary(true, "", new { @class = "text-danger" })
  @Html.HiddenFor(model => model.Id)
  @Html.AntiForgeryToken()
  <div class="form-horizontal form-table-container">
    <hr />
    <table class="budget-table">
      <tr>
        <th>Name</th>
        <th>Destination</th>
        <th class="amount">Air Fare</th>
        <th>Transportation</th>
        <th>Purpose Of Travel</th>
        <th></th>
      </tr>
      @foreach (var item in Model.Travelers)
      {
        <tr>
          <td>
            <label class="control-label">@item.Name</label>
          </td>
          <td>
            <label class="control-label">@item.Destination</label>
          </td>
          <td class="amount">
            <input type="hidden" class="value-add" value="@item.AirFare" />
            <span class="amount-padding">@item.AirFare</span>
          </td>
          <td class="amount">
            <input type="hidden" class="value-add" value="@item.Transportation" />
            <span class="amount-padding">@item.Transportation</span>
          </td>
          <td>
            <label class="control-label">@item.PurposeOfTravel</label>
          </td>
          <td>
            <a href="javascript:void(0);" data-id="@item.Id" class="deleteItem deleteTraveler">X</a>
          </td>
        </tr>
      }
      <tr>
        <td>
          @Html.LabelFor(model => model.SumTotal, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td class="amount">
          @Html.HiddenFor(model => model.SumTotal)
          <input type="text" id="dummy-SumTotal" disabled="disabled" class="form-control" value="@Model.SumTotal" />
          @Html.ValidationMessageFor(model => model.SumTotal, "", new { @class = "text-danger" })
        </td>
        <td></td>
        <td></td>
      </tr>

    </table>

    <div class="form-group form-options">
      <input type="submit" value="Save" class="btn btn-success" />
      @* TODO: Implement cancel *@
      @*<button type="submit" class="btn btn-default">Cancel</button>*@
    </div>
  </div>
}
<div id="dvCategoryResults">
  @Html.Action("TravelerPartial", "Partials")
</div>
<div>
  @Html.ActionLink("Back to List", "Modify", new { id = Model.Id })
</div>
@section Scripts {
  <script>
    $('.deleteTraveler').click(function (e) {
      e.preventDefault();
      var $ctrl = $(this);
      if (confirm('Do you really want to delete this item?')) {
        $.ajax({
          url: '@Url.Action("DeleteTraveler", "Budgets")',
          type: 'POST',
          data: { id: $(this).data('id') }
        }).done(function (data) {
          if (data.Result == "OK") {
            $ctrl.closest('tr').remove();
            calculateSumTotal();
          }
          else if (data.Result.Message) {
            alert(data.Result.Message);
          }
        }).fail(function () {
          alert("There is something wrong. Please try again.");
        })

      }
    });

    calculateSumTotal();

    $("input.value-add").change(function () {
      calculateSumTotal();
    });

    function calculateSumTotal() {
      var sum = $("#SumTotal, #dummy-SumTotal");
      var total = 0;
      $("input.value-add").each(function () {
        item = Number($(this).val().trim());
        if (item != null && !isNaN(item)) {
          total += item;
        }
      });
      $(sum).val(total);
    }
  </script>
}