@model HISSAP1.Models.SiteModels.InvoiceBudgetModels.FringeBenefit
@{
  ViewBag.Title = "PayrollTaxesAssessment";
}

<h2>Fringe Benefits</h2>


<h2 class="buddy-header">Create Fringe Benefit</h2>
<div class="buddy-link">
  @Html.ActionLink("Back to List", "Index")
</div>

@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()

  <div class="form-horizontal">
    <hr />
    <div class="form-group">
      @Html.LabelFor(model => model.HealthInsurance, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.HealthInsurance, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.HealthInsurance, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.Retirement, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.Retirement, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Retirement, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.LifeLongDisabilityInsurance, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.LifeLongDisabilityInsurance, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.LifeLongDisabilityInsurance, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.SumTotal, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.SumTotal, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SumTotal, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-default" />
      </div>
    </div>

  </div>
}
