@model HISSAP1.Models.SiteModels.InvoiceBudgetModels.PayrollTaxesAssessment

@{
  ViewBag.Title = "PayrollTaxesAssessment";
}

<h2 class="buddy-header">Payroll Taxes & Assessments</h2>
<div class="buddy-link">
  @Html.ActionLink("Back to List", "Modify", new { id = Model.Id })
</div>

@using (Html.BeginForm("EditPayrollTaxesAssessment", "Budgets", new { returnUrl = Request.Url.AbsoluteUri }))
{
  @Html.ValidationSummary(true, "", new { @class = "text-danger" })
  @Html.HiddenFor(model => model.Id)
  @Html.AntiForgeryToken()
  <div class="form-horizontal form-table-container">
    <hr />
    <table class="budget-table">
      <tr>
        <th class="name">Budget Item</th>
        <th class="amount">Amount</th>
        <th>Justification</th>
        <th></th>
      </tr>
      <tr>
        <td class="name">
          @Html.LabelFor(model => model.SocialSecurity, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td class="amount">
          @Html.EditorFor(model => model.SocialSecurity, new { htmlAttributes = new { @class = "form-control value-add" } })
          @Html.ValidationMessageFor(model => model.SocialSecurity, "", new { @class = "text-danger" })
        </td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td class="name">
          @Html.LabelFor(model => model.UnemploymentInsuranceFederal, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td class="amount">
          @Html.EditorFor(model => model.UnemploymentInsuranceFederal, new { htmlAttributes = new { @class = "form-control value-add" } })
          @Html.ValidationMessageFor(model => model.UnemploymentInsuranceFederal, "", new { @class = "text-danger" })
        </td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td class="name">
          @Html.LabelFor(model => model.UnemploymentInsuranceState, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td class="amount">
          @Html.EditorFor(model => model.UnemploymentInsuranceState, new { htmlAttributes = new { @class = "form-control value-add" } })
          @Html.ValidationMessageFor(model => model.UnemploymentInsuranceState, "", new { @class = "text-danger" })
        </td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td class="name">
          @Html.LabelFor(model => model.WorkersCompensation, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td class="amount">
          @Html.EditorFor(model => model.WorkersCompensation, new { htmlAttributes = new { @class = "form-control value-add" } })
          @Html.ValidationMessageFor(model => model.WorkersCompensation, "", new { @class = "text-danger" })
        </td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td class="name">
          @Html.LabelFor(model => model.TemporaryDisabilityInsurance, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td class="amount">
          @Html.EditorFor(model => model.TemporaryDisabilityInsurance, new { htmlAttributes = new { @class = "form-control value-add" } })
          @Html.ValidationMessageFor(model => model.TemporaryDisabilityInsurance, "", new { @class = "text-danger" })
        </td>
        <td></td>
        <td></td>
      </tr>

      @foreach (var item in Model.PayrollItems)
      {
        <tr>
          <td class="name">
            <label class="control-label">@item.Name</label>
          </td>
          <td class="amount">
            <input type="hidden" class="value-add" value="@item.Amount" />
            <span>@item.Amount</span>
          </td>
          <td>
            @item.Justification
          </td>
          <td>
            <a href="javascript:void(0);" data-id="@item.Id" class="deleteItem deletePayrollItem">X</a>
          </td>
        </tr>
      }
      <tr>
        <td class="name">
          @Html.LabelFor(model => model.SumTotal, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td class="amount">
          @Html.HiddenFor(model => model.SumTotal)
          <input type="text" id="dummy-SumTotal" disabled="disabled" class="form-control" value="@Model.SumTotal" />
          @Html.ValidationMessageFor(model => model.SumTotal, "", new { @class = "text-danger" })
        </td>
        <td></td>
        <td></td>
      </tr>

    </table>

    <div class="form-options">
      <input type="submit" value="Save" class="btn btn-success" />
      @* TODO: Implement cancel *@
      @*<button type="submit" class="btn btn-default">Cancel</button>*@
    </div>
  </div>
}
<div id="dvCategoryResults">
  @Html.Action("PayrollItemsPartial", "Partials")
</div>
<div>
  @Html.ActionLink("Back to List", "Modify", new { id = Model.Id })
</div>
@section Scripts {
  <script>
    $('.deletePayrollItem').click(function (e) {
      e.preventDefault();
      var $ctrl = $(this);
      if (confirm('Do you really want to delete this item?')) {
        $.ajax({
          url: '@Url.Action("DeletePayrollItem", "Budgets")',
          type: 'POST',
          data: { id: $(this).data('id') }
        }).done(function (data) {
          if (data.Result == "OK") {
            $ctrl.closest('tr').remove();
            calculateSumTotal();
          }
          else if (data.Result.Message) {
            alert(data.Result.Message);
          }
        }).fail(function () {
          alert("There is something wrong. Please try again.");
        })

      }
    });

    calculateSumTotal();

    $("input.value-add").change(function () {
      calculateSumTotal();
    });

    function calculateSumTotal() {
      var sum = $("#SumTotal, #dummy-SumTotal");
      var total = 0;
      $("input.value-add").each(function () {
        item = Number($(this).val().trim());
        if (item != null && !isNaN(item)) {
          total += item;
        }
      });
      $(sum).val(total);
    }
  </script>
}