@model HISSAP1.Models.Provider

@{
  ViewBag.Title = "Details";
}

<h2 class="buddy-header">Provider Details</h2>
<div class="buddy-link">
  @Html.ActionLink("Back to List", "Index")
</div>
<div>
  <hr />
  <dl class="dl-horizontal details-list">
    <dt>
      @Html.DisplayNameFor(model => model.Name)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Address.AddressLine1)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Address.AddressLine1)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Address.AddressLine2)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Address.AddressLine2)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Address.City)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Address.City)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Address.State)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Address.State)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Address.Zip)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Address.Zip)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.ContactPerson)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.ContactPerson)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Phone)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Phone)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Website)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Website)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Email)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Email)
    </dd>

  </dl>
</div>
<p>
  @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
  @Html.ActionLink("Back to List", "Index")
</p>
