@model HISSAP1.Models.Contract

@{
  ViewBag.Title = "Create";
}

<h2 class="buddy-header">Create Contract</h2>
<div class="buddy-link">
  @Html.ActionLink("Back to List", "Index")
</div>


@using (Html.BeginForm("Create", "Contracts", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary(true)

  <div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*<div class="form-group">
        @Html.LabelFor(model => model.ContractName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.ContractName, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.ContractName, "", new { @class = "text-danger" })
        </div>
      </div>*@

    <div class="form-group">
      @Html.LabelFor(model => model.ContractNumber, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.ContractNumber, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ContractNumber, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.Label("Year", new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @{
          var yearList = new List<Object>();
          int yearIterator = 0;
          var currentYear = DateTime.Now;
          var nextYear = DateTime.Now.AddYears(1);
          while (yearIterator < 5)
          {
            string yearPeriod = currentYear.Year.ToString() + " - " + nextYear.Year.ToString();

            yearList.Add(new { value = yearPeriod, text = yearPeriod });

            currentYear = currentYear.AddYears(1);
            nextYear = nextYear.AddYears(1);
            yearIterator++;
          }
          var selectList = new SelectList(yearList, "value", "text", 2);
        }
        @Html.DropDownListFor(model => model.Year, selectList, new { @class = "input-sm" })
      </div>
    </div>

    <!--Associate an organization with the account-->
    <div class="form-group">
      @if (ViewBag.Tier5) {
      @Html.Label("Associate a Provider", new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @*@Html.DropDownListFor(m => m.SelectedProvider, Model.ProviderList, "Please select")*@
        @Html.DropDownListFor(m => m.ContractsProvider.Id, ViewBag.Providers as SelectList, new { @class = "input-sm" })
      </div>
      }
      else
      {
        @Html.Label("Provider", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
          @*@Html.DropDownListFor(m => m.SelectedProvider, Model.ProviderList, "Please select")*@
          @Html.DropDownListFor(m => m.ContractsProvider.Id, ViewBag.Providers as SelectList, new { @class = "input-sm", @disabled = "disabled" })
        </div>
      }
    </div>
    <!--Ends Here-->

    <div class="form-group">
      @Html.Label("Status", new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @{
          var statusList = new SelectList(
                          new List<Object>{
                               new { value = "Active" , text = "Active" },
                               new { value = "Inactive" , text = "Inactive" }
                            }, "value", "text", 2);
        }
        @Html.DropDownListFor(model => model.Status, statusList, new { @class = "input-sm" })
      </div>
    </div>

    @* FILE UPLOAD *@

    <div class="form-group">
      <div class="editor-label">
        <label>Files:</label>
      </div>
      <div class="editor-field">
        <input type="file" name="file" multiple="multiple" />
      </div>
    </div>

    @* END - FILE UPLOAD *@

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-default" />
      </div>
    </div>
  </div>
          }

<div>
  @Html.ActionLink("Back to List", "Index")
</div>
