@model HISSAP1.Models.ApplicationUser
@{
  ViewBag.Title = "Edit";
}

<h2 class="buddy-header">Edit User</h2>
<div class="buddy-link">
  @Html.ActionLink("Back to List", "Index")
</div>
@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary()
  @Html.HiddenFor(model => model.Id)


  <div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
      @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
      <div class="controls">
        @*@Html.TextBoxFor(m => m.UserName)*@
        @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-control" } })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(m => m.Email, new { @class = "control-label" })
      <div class="controls">
        @*@Html.TextBoxFor(m => m.Email)*@
        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
      </div>
    </div>

    <!--Associate an organization with the account-->
    <div class="form-group">
      @Html.Label("Associate a Provider", new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @*@Html.DropDownListFor(m => m.SelectedProvider, Model.ProviderList, "Please select")*@
        @Html.DropDownListFor(m => m.ProviderId, ViewBag.Providers as SelectList, new { @class = "input-sm" })
      </div>
    </div>
    <!--Ends Here-->
    <div class="form-group">
      @Html.Label("Select The User Type", new { @class = "control-label" })
      <div class="col-md-10">
        <span class="input-sm-parent">
          @Html.DropDownList("RoleId", "No Roles")
        </span>
      </div>
    </div>

    <div class="form-group">      
      @Html.Label("Can Prepare Budget: ", new { @class = "control-label" })
      @Html.RadioButtonFor(m => m.CanPrepareBudget, "Yes")Yes
      @Html.RadioButtonFor(m => m.CanPrepareBudget, "No")No
    </div>

    <div class="form-group">
      @Html.Label("Can Submit Budget: ", new { @class = "control-label" })
      @Html.RadioButtonFor(m => m.CanSubmitBudget, "Yes")Yes
      @Html.RadioButtonFor(m => m.CanSubmitBudget, "No")No
    </div>

    <div class="form-group">
      <input type="submit" class="btn btn-default" value="Save" />
    </div>
  </div>
          }

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
