@model HISSAP1.Models.ApplicationUser
@{
  ViewBag.Title = "Edit";
}

<h2 class="buddy-header">Edit User</h2>
<div class="buddy-link">
  @Html.ActionLink("Back to List", "Index")
</div>
@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary()
  @Html.HiddenFor(model => model.Id)


  <div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
      @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
      <div class="controls">
        @*@Html.TextBoxFor(m => m.UserName)*@
        @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-control" } })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(m => m.Email, new { @class = "control-label" })
      <div class="controls">
        @*@Html.TextBoxFor(m => m.Email)*@
        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
      </div>
    </div>
    
    <!--Associate an organization with the account-->
    <div class="form-group">
      @Html.Label("Associate an Organization", new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @*@Html.DropDownListFor(m => m.SelectedOrganization, Model.OrganizationList, "Please select")*@
        @Html.DropDownListFor(m => m.OrganizationId, ViewBag.Organizations as SelectList, new { @class = "input-sm" })
      </div>
    </div>

    <div class="form-group">
      <input type="submit" class="btn btn-default" value="Edit" />
    </div>
  </div>
}

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
