@model HISSAP1.Models.CurrentSite
@if (Request.IsAuthenticated)
{
  //Html.Action("Test", "CurrentSites");
  using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.UserId)
    <a href="">Waianae<b><span class="arrow-down">&#9662;</span></b></a>
    <div class="drop-down select-site">
      <div class="form-group inline-block">
        @Html.Label("Provider: ", new { @class = "control-label col-md-2" })
        @Html.DropDownListFor(m => m.SelectedProvider, (SelectList)ViewBag.Providers, new { @class = "input-sm" })
      </div>

      <div class="form-group inline-block">
        @Html.Label("Contract: ", new { @class = "control-label col-md-2" })
        @Html.DropDownListFor(m => m.SelectedContract, (SelectList)ViewBag.Contracts, new { @class = "input-sm" })
      </div>
      <div class="form-group inline-block">
        @Html.Label("Site: ", new { @class = "control-label col-md-2" })
        <select class="input-sm">
          <option>Waianae</option>
          <option>Honolulu</option>
          <option>Manoa</option>
          <option>Hilo</option>
        </select>
      </div>
      <div id="change-site-input" class="form-group inline-block">
        <input class="btn btn-default" value="Switch" type="submit" />
      </div>
    </div>
  }
}
