<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HISSAP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
  <div class="navbar parent">
    <div class="container">
      <div class="navbar-home">
        @Html.ActionLink("HISSAP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
      </div>
      <div class="navbar-sections">
        @Html.Partial("_LoginPartial")
        <ul class="navbar-section navbar-description middle"><li class="navbar-item"><p class="navbar-description-text">Hawaii Information System for Substance Abuse Prevention</p></li></ul>
        @*<ul class="nav navbar-nav">
          <li>@Html.ActionLink("Home", "Index", "Home")</li>
          <li>@Html.ActionLink("About", "About", "Home")</li>
          <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        </ul>*@        
      </div>
    </div>
  </div>
@if (Request.IsAuthenticated)
{
  <div class="navbar child">
    <div class="container">
      <div class="navbar-sections">
        <ul class="navbar-section left">
          <li class="navbar-item">@Html.ActionLink("Assess & Plan", "Index", "Home")</li>
          <li class="navbar-item">@Html.ActionLink("Manage", "Index", "Home")</li>
          <li class="navbar-item">@Html.ActionLink("Track", "Index", "Home")</li>
        </ul>
        @*<ul class="navbar-section left">
            <li class="navbar-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="navbar-item"><a asp-controller="Home" asp-action="About">About</a></li>
            <li class="navbar-item"><a asp-controller="Home" asp-action="Contact">Contact</a></li>
          </ul>*@
        <ul class="navbar-section right">          
          <li class="navbar-item">@Html.ActionLink("Reports", "About", "Home")</li>
          <li class="navbar-item">@Html.ActionLink("Administration", "Administration", "Home")</li>
        </ul>
      </div>
    </div>
  </div>
}
  <div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
      <p>&copy; @DateTime.Now.Year - HISSAP</p>
    </footer>
  </div>

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("scripts", required: false)
</body>
</html>
