<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - HISSAP</title>
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")
  @{
    //TODO: Make better...
    //Sets all these viebag values that could be null to false
    if (ViewBag.Tier1 == null || ViewBag.IsObserver == null) {ViewBag.Tier1 = false; ViewBag.IsObserver = false;}
    if (ViewBag.Tier2 == null || ViewBag.IsStaff == null) { ViewBag.Tier2 = false; ViewBag.IsStaff = false; }
    if (ViewBag.Tier3 == null || ViewBag.IsFiscal == null) { ViewBag.Tier3 = false; ViewBag.IsFiscal = false; }
    if (ViewBag.Tier4 == null || ViewBag.IsProviderAdministrator == null) { ViewBag.Tier4 = false; ViewBag.IsProviderAdministrator = false; }
    if (ViewBag.Tier5 == null || ViewBag.IsStateAdministrator == null) { ViewBag.Tier5 = false; ViewBag.IsStateAdministrator = false; }
    if (ViewBag.Tier6 == null || ViewBag.IsSystemAdministrator == null) { ViewBag.Tier6 = false; ViewBag.IsSystemAdministrator = false; }

    if (ViewBag.CanSubmitBudget == null) { ViewBag.CanSubmitBudget = false; }
    if (ViewBag.CanPrepareBudget == null) { ViewBag.CanPrepareBudget = false; }
  }

</head>
<body>
  <div class="navbar parent">
    <div class="container">
      <div class="navbar-home">
        @Html.ActionLink("HISSAP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
      </div>
      <div class="navbar-sections">
        @Html.Partial("_LoginPartial")
        <ul class="navbar-section navbar-description middle"><li class="navbar-item"><p class="navbar-description-text">Hawaii Information System for Substance Abuse Prevention</p></li></ul>
        @*<ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
          </ul>*@
      </div>
    </div>
  </div>
  @if (Request.IsAuthenticated)
  {
    <div class="navbar child">
      <div class="container">
        <ul class="navbar-section left">
          <li class="navbar-item">@Html.ActionLink("Assess & Plan", "AssessAndPlan", "Home")</li>
          <li class="navbar-item">@Html.ActionLink("Manage", "Manage", "Home")</li>
          <li class="navbar-item">@Html.ActionLink("Track", "Track", "Home")</li>
        </ul>
        <ul class="navbar-section right">
          <li class="navbar-item">@Html.ActionLink("Reports", "About", "Home")</li>
          @if (ViewBag.Tier4) {
          <li class="navbar-item">@Html.ActionLink("Administration", "Administration", "Home")</li>
          }
          <li class="navbar-item change-site">
            @Html.Action("ChangeSitePartial", "Partials", new { controller = ViewContext.RouteData.Values["controller"], action = ViewContext.RouteData.Values["action"] })
          </li>
        </ul>
      </div>
    </div>
  }
  <div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
      <p>&copy; @DateTime.Now.Year - HISSAP</p>
    </footer>
  </div>

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @Scripts.Render("~/bundles/site")
  @RenderSection("scripts", required: false)
</body>
</html>
