@model HISSAP1.Models.CurrentSite

@{
    ViewBag.Title = "Details";
}

<h2 class="buddy-header">CurrentSite Details</h2>
<div class="buddy-link">
  @Html.ActionLink("Back to List", "Index")
</div>

<div>
    <hr />
    <dl class="dl-horizontal details-list">
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelectedProvider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelectedProvider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelectedContract)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelectedContract)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelectedSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelectedSite)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
