@model HISSAP1.Models.Site

@{
  ViewBag.Title = "Details";
}

<h2 class="buddy-header">Site Details</h2>
<div class="buddy-link">
  @Html.ActionLink("Back to List", "Index")
</div>

<div>
  <hr />
  <dl class="dl-horizontal details-list">
    <dt>
      @Html.DisplayNameFor(model => model.SitesContract.ContractName)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.SitesContract.ContractName)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.SiteName)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.SiteName)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Status)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Status)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Address.AddressLine1)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Address.AddressLine1)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Address.AddressLine2)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Address.AddressLine2)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Address.City)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Address.City)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Address.Zip)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Address.Zip)
    </dd>

  </dl>
</div>
<p>
  @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
  @Html.ActionLink("Back to List", "Index")
</p>
