@model HISSAP1.Models.SiteModels.OutcomeModels.IndxMeasurementTool

@{
    ViewBag.Title = "Details";
}

<h2 class="buddy-header">IndxMeasurementTool Details</h2>
<div class="buddy-link">
  @Html.ActionLink("Back to List", "Index")
</div>

<div>
    <hr />
    <dl class="dl-horizontal details-list">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IndxMeasurementToolID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
